<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BRAND | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<script>const API_KEY = "{{ api_key }}";</script>

<script src="/static/products.js"></script>

<body>
    <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Orders</a></li>
                <li class="is-active"><a>Products</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </section>
    <section class="section">
        <table class="table">
            <thead>
                <tr>
                    <th><abbr title="id">ID</abbr></th>
                    <th><abbr title="title">Title</abbr></th>
                    <th><abbr title="category">Category</abbr></th>
                    <th><abbr title="price">Price</abbr></th>
                    <th><abbr title="stock">Stock</abbr></th>
                    <th><abbr title="checkout">Checkout</abbr></th>
                    <th><abbr title="type">Product Type</abbr></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="id">ID</abbr></th>
                    <th><abbr title="title">Title</abbr></th>
                    <th><abbr title="category">Category</abbr></th>
                    <th><abbr title="price">Price</abbr></th>
                    <th><abbr title="stock">Stock</abbr></th>
                    <th><abbr title="checkout">Checkout</abbr></th>
                    <th><abbr title="type">Product Type</abbr></th>
                    <th></th>
                </tr>
            </tfoot>
                <tbody>
                {% for product in products %}
                <tr>
                    <th>{{ product["id"] }}</th>
                    <td>{{ product["title"] }}</td>
                    <td>{{ product["category"] }}</td>
                    <td>{{ product["price"] }}</td>
                    <td>{{ product["stock"] }}</td>
                    <td>{{ product["checkout"] }}</td>
                    <td>{{ product["type"] }}</td>
                    <td><button class="button is-outlined is-primary is-small">Edit</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="section" id="product-edit" style="visibility: hidden;">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile notification is-primary is-child box">
                    <p class="title">Edit Product</p>
                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Category</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Checkout</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>default</option>
                                    <option>external</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-warning">Save</button>
                        </div>
                        <div class="control">
                            <button class="button is-warning">Cancel</button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="section" id="product-edit" style="visibility: hidden;">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile notification is-primary is-child box">
                    <p class="title">Edit Product</p>
                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Category</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Checkout</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>default</option>
                                    <option>external</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-warning">Save</button>
                        </div>
                        <div class="control">
                            <button class="button is-warning">Cancel</button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Copyright <strong>BRAND</strong> 2021
            </p>
        </div>
    </footer>
</body>

</html>
